<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="contact-form">
      <h2>설문 결과</h2>
      <table border="1">
        <thead>
          <tr><th></th><th>호랑이</th><th>코끼리</th></tr>
        </thead>
        <tfoot>
          <th>합</th>
          <th> <%= survey[0]+survey[2] %></th>
          <th> <%= survey[1]+survey[3] %></th>
        </tfoot>
        
          <tbody>
            <tr>
              <th>남</th>
              <th>
                <%= survey[0] %>
              </th>
              <th>
                <%= survey[1] %>
              </th>
            </tr>
            <tr>
              <th>여</th>
              <th>
                <%= survey[2] %>
              </th>
              <th>
                <%= survey[3] %>
              </th>
            </tr>         
          </tbody>
       
          <tr>
            <th>통계</th>
            <th>
              <% if(survey[0] > survey[1]) { %>
              <span>남자는 호랑이를 더 좋아합니다.</span>
              <% } else if (survey[0] < survey[1]) { %>
              <span>남자는 코끼리를 더 좋아합니다.</span>
              <% } else { %>
              <span>남자는 호랑이와 코끼리 둘다 좋아합니다.</span>
              <% } %>
            </th>
            <br>
            <th>
              <% if(survey[2] > survey[3]) { %>
              <span>여자는 호랑이를 더 좋아합니다.</span>
              <% } else if(survey[2] < survey[3]){ %>
              <span>여자는 코끼리를 더 좋아합니다.</span>
              <% } else { %>
              <span>여자는 호랑이와 코끼리 둘다 좋아합니다.</span>
              <% } %>
            </th>
          </tr>

      </table>
</div>
</body>
</html>
